{% extends "admin/base.html" %}

{% comment %}
  Release: 0.2.2
  Author: Golikov Ivan
  Date: 10.07.2017
{% endcomment %}

{% load static %}

{% block extrahead %}
<script src="{% static 'common/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'common/js/vendor/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>

<link rel="stylesheet" href="{% static 'common/js/vendor/chosen/chosen.min.css' %}">
{% endblock %}

{% block footer %}
<script type="text/javascript">
  $(".chosen-select").parents(".form-row")
  .css("overflow", "visible")
  .css("height", "1.5rem")

  $(".chosen-select").parents(".errors")
  .css("height", "3rem")

  $(".chosen-select").parents(".related-widget-wrapper")
  .css("overflow", "visible")
  .css("width", "auto")

  $(".chosen-select").chosen()

  $(".chosen-container-multi")
  .css("width", "auto")
  .css("min-width", "274px")

  $(".chosen-choices")
  .css("border", "1px solid #ccc")
  .css("border-radius", "4px")
</script>
{% endblock footer %}
